In [4]:
from sympy import sin
from sympy import cos
from math import pi

In [5]:
#*****************************************************************************************************************************
# Felipe Coral 161003611
# Brayan Saldarriaga 161003640
#*****************************************************************************************************************************

Tabla =[[0,0,0,0,0,0],
        [0,0,0,0,0,0],
        [0,0,0,0,0,0],
        [0,0,0,0,0,0],
        [0,0,0,0,0,0],
        [0,0,0,0,0,0],
        [0,0,0,0,0,0],
        [0,0,0,0,0,0]]
x=0
for i in range(8):
    for j in range(6):
        if j==0:
            Tabla[i][j]=cos(x)
        if j==1:
            Tabla[i][j]=cos(0)-x*sin(0)
        if j==2:
            Tabla[i][j]=cos(0)-x*sin(0)-((x**2)/2)*cos(0)
        if j==3:
            Tabla[i][j]=cos(0)-x*sin(0)-((x**2)/2)*cos(0)+((x**3)/6)*sin(0)
        if j==4:
            Tabla[i][j]=cos(0)-x*sin(0)-((x**2)/2)*cos(0)+((x**3)/6)*sin(0)+((x**4)/24)*cos(0)
        if j==5:
            Tabla[i][j]=cos(0)-x*sin(0)-((x**2)/2)*cos(0)+((x**3)/6)*sin(0)+((x**4)/24)*cos(0)-((x**5)/120)*sin(0)
    if x==0:
        x=x+0.00001
    else:
        x=x*10

In [27]:
print("x       Exacto           Aprx1     Aprox.2              Aprox.3           Aprox.4                  Aprox.5")
print("0      ",Tabla[0][0],"               ",Tabla[0][1],"  ",Tabla[0][2],"                 ",Tabla[0][3],"                ",Tabla[0][4],"                      ",Tabla[0][5])
print("0.00001",Tabla[1][0],Tabla[1][1],"  ",Tabla[1][2]," ",Tabla[1][3],"",Tabla[1][4],"      ",Tabla[1][5])
print("0.0001 ",Tabla[2][0],Tabla[2][1],"  ",Tabla[2][2]," ",Tabla[2][3],"",Tabla[2][4],"      ",Tabla[2][5])
print("0.001  ",Tabla[3][0],Tabla[3][1],"  ",Tabla[3][2]," ",Tabla[3][3],"",Tabla[3][4],"      ",Tabla[3][5])
print("0.01   ",Tabla[4][0],Tabla[4][1],"  ",Tabla[4][2]," ",Tabla[4][3],"",Tabla[4][4],"      ",Tabla[4][5])
print("0.1    ",Tabla[5][0],Tabla[5][1],"  ",Tabla[5][2]," ",Tabla[5][3],"",Tabla[5][4],"      ",Tabla[5][5])
print("1      ",Tabla[6][0],Tabla[6][1],"  ",Tabla[6][2]," ",Tabla[6][3],"",Tabla[6][4],"      ",Tabla[6][5])
print("10    ",Tabla[7][0],Tabla[7][1],"  ",Tabla[7][1],"                ",Tabla[7][3]," ",Tabla[7][4],"       ",Tabla[7][5])

x       Exacto           Aprx1     Aprox.2              Aprox.3           Aprox.4                  Aprox.5
0       1                 1    1                   1                  1                        1
0.00001 0.999999999950000 1    0.999999999950000   0.999999999950000  0.999999999950000        0.999999999950000
0.0001  0.999999995000000 1    0.999999995000000   0.999999995000000  0.999999995000000        0.999999995000000
0.001   0.999999500000042 1    0.999999500000000   0.999999500000000  0.999999500000042        0.999999500000042
0.01    0.999950000416665 1    0.999950000000000   0.999950000000000  0.999950000416667        0.999950000416667
0.1     0.995004165278026 1    0.995000000000000   0.995000000000000  0.995004166666667        0.995004166666667
1       0.540302305868140 1    0.500000000000000   0.500000000000000  0.541666666666667        0.541666666666667
10     -0.839071529076452 1    1                  -49.0000000000000   367.666666666667         367.666666666667